@import "colors";

footer {
  background-color: $first;
  height: 200px;
  width: 100%;
  color: $dark;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2rem;
  animation: imgUp 0.7s linear infinite alternate;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h1 {
      font: 700 2rem $text1;
      text-transform: uppercase;
      color: $third;
      display: flex;
      justify-content: center;
      animation: imgUp 0.7s linear infinite alternate;
    }
    > p {
      font: 500 1.2rem $text1;
      justify-content: center;

      animation: imgUp 0.7s linear infinite alternate;
    }

    > h5 {
      font: 300 2rem $text1;
      margin: 2rem 0;
     
      // text-align: center;
    }

    > div {
      display: flex;
      // flex-direction: column;
      align-items: center;
      
      animation: imgUp 1s linear infinite alternate;
      a {
        color: $dark;
        font: 900 1rem $text2;
        &:hover {
          color: $third;
        }
      }
    }
  }
}
